* {
  box-sizing: border-box;
}

.container {
  width: 1400px;
  margin: 0 auto;
  padding-top: 32px;
}

.loading {
  margin-bottom: 32px;
}

.header {
  display: flex;
  align-items: center;
}

.header h2 {
  margin-right: 32px;
}

.refresh {
  color: #0b0;
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 18px;
  width: 32px;
  height: 32px;
  text-align: center;
}

.refresh:hover {
  background-color: #eee;
  cursor: pointer;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.note {
  position: relative;
  padding: 32px;
  border: 1px solid #000;
  margin-right: 32px;
  margin-bottom: 32px;
  width: 300px;
}

.close {
  background-color: #fff;
  color: #f00;
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 18px;
  width: 32px;
  height: 32px;
  text-align: center;
  position: absolute;
  top: -16px;
  right: -16px;
}

.close:hover {
  background-color: #eee;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 600px;
}

.form label {
  font-size: 13px;
  margin-bottom: 8px;
}

.form textarea {
  border: 1px solid #000;
  padding: 8px;
  font-size: 16px;
  resize: none;
  height: 160px;
}

.form button {
  position: absolute;
  right: 32px;
  bottom: 16px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 22px;
  font-size: 20px;
  cursor: pointer;
  padding-left: 8px;
}

.form button:hover {
  background-color: #eee;
}